body {
  font-family: 'Montserrat', sans-serif;
}

#startchange {
  margin-top: 140px;
}





/* Banner */

.paula-banner {
  /*background-image: url(IMG_1915.JPG);*/
  width: 100%;
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -50px;
}

.paula-banner img {
margin-top: 0px;
width: 100%;
height:auto;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: white;
  margin-top: 500px;
}

.paula-banner .fa-angle-down {
  color: white;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  margin-left: -200px;
}










/* Description */

.description {
  background-image: url(test6.png);
  background-attachment: fixed;
  background-size: 100%;
  height: auto;
  width:100%;
  margin-top: -160px;
  padding-bottom: 30px;
}

/*
#go {
  overflow:scroll;
}*/

#go img {
  width: 500px;
  height: auto;
  border: 2px solid #D1B182;
}

.description h2 {
  font-size: 30px;
}

.description p {
  line-height: 28px;
  padding-left: 60px;
  padding-right: 60px;
  color: gray;
  font-size: 16px;
}



#menu-btn, #reserva-btn, #evento-btn {
  font-size:18px;
  color: #D1B182;
  text-decoration: underline;
}

#menu-btn:hover, #reserva-btn:hover, #evento-btn:hover {
  text-decoration: none;
  color: #D1B182;
  font-size: 20px;
}



.news li {
  display: inline-block;
}


.news-form-mail {
  width: 80%;
}





 @media screen and (min-width: 320px) and (max-width: 1000px) {

#go img {
  width: 360px;
  height: auto;
}

}


 @media screen and (min-width: 320px) and (max-width: 600px) {

#startchange {
  margin-top: 0px;
}

.description {
  margin-top: 10px;
}

}
