<!-- ********************** BANNER ********************* -->

<div class="banner paula-banner-booking" id="top">

  <div class="banner-content-booking">
    <h2 class="text-center"></h2>
    <i class="fa fa-angle-down"></i>
  </div>
</div>

    <h2 class="text-center" id="title-booking">Reservas</h2>

<div id="startchange">

  <div class="booking-form">
   <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">

        <script type="text/javascript" src="path/to/instafeed.min.js">
        // AMD
        require(["path/to/instafeed"], function(Instafeed) { });
        // CommonJS
        var Instafeed = require("instafeed.js");
        </script>

        <%= render 'form', booking: @booking %>


    <br><br><br>


     </div>
    </div>
   </div>

<div class="booking text-center">
  <h3 id="booking-h3">Reservas por teléfono</h3>
  <p>+(507) 209-6392</p>
</div>
    <br><br><br><br><br><br>


  </div>

</div>
