<!-- ************************* FOOTER HOME ************************* -->

<div class="footer-home">
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>Localización</h3>
      <br><br>
      <p>Panama city - Panamà
      <br> Casco Viejo, Avenida A calle 3ra
      <br> Edificio 2-47</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Horarios</h3>
      <br><br>
      <p>11am-12pm - 7/7
      <br>Cocina abierta en <br>cualquier momento del día</p>
    </div>
  </div>
 </div>
</div>







<!-- ******************** FOOTER ****************** -->

<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-xs-6 pull-left">
        <ul class="list-inline">
          <li><a href="http://www.facebook.com/BistroPaulaNani" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/bistro_paula_nani" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>

      <div class="col-xs-6 text-right">
        Paula Nani copyright 2016 © by Atara
      </div>

    </div>
  </div>
</div>
