<!-- ********************** BANNER ********************* -->

<div class="banner paula-banner-galeria" id="top">

  <div class="banner-content-galeria">
    <h2 class="text-center"></h2>
    <i class="fa fa-angle-down"></i>
  </div>
</div>

    <h2 class="text-center" id="title-galeria">Galería</h2>

<div id="startchange">

<div class="sb_instagram_header" style="padding: 10px; padding-bottom: 0;">
  <a href="http://instagram.com/bistro_paula_nani" target="_blank" title="@bistro_paula_nani" class="sbi_header_link">
    <div class="sbi_header_text">
    <ul>
      <li><img src="https://instagram.fpac1-1.fna.fbcdn.net/t51.2885-19/s150x150/13248867_977109702396035_1417972171_a.jpg" alt="Le Cafe De La Place" width="50" height="50"></li>
      <li><h4>&nbsp;&nbsp;&nbsp;@bistro_paula_nani</h4></li></a>
    </ul>
    </div>
</div>

<br><br><br>

  <div class="container">
   <div class="row">
   <% @instagram.each do |instagram| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= image_tag instagram.images.first.last.url %>
    </div>
    <% end %>

   </div>
  </div>

<br>

<div class="insta text-center">
  <a href="https://www.instagram.com/bistro_paula_nani"><i class="fa fa-instagram"></i>&nbsp;&nbsp;&nbsp;Ver más...</a>
</div>




<br><br><br><br>





