<!-- ********************** BANNER ********************* -->

<div class="banner paula-banner-contact" id="top">

  <div class="banner-content-contact">
    <h2 class="text-center"></h2>
    <i class="fa fa-angle-down"></i>
  </div>
</div>

    <h2 class="text-center" id="title-contact">Contacto</h2>

<div id="startchange" class="contact">

<!-- ************* Contact  **************** -->

<div class="container">
  <div class="row">

    <div class="col-xs-12 hidden-xs col-sm-6">
      <h3>Contactarnos</h3>
      <br><br><br>
      <i class="fa fa-map-marker"></i>
      <p>Casco Viejo
      <br>Avenida A, calle 3ra
      <br>Edificio 2-47
      <br>Panama city - Panama</p>
      <br>
      <i class="fa fa-phone"></i>
      <p>+(507) 209 63-92</p>
      <br>
      <i class="fa fa-envelope"></i>
      <p>bistropaulanani@gmail.com</p>
    <br><br><br><br><br>
      <h3>Seguirnos</h3>
      <br><br><br>
        <a href="http://www.facebook.com/BistroPaulaNani" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/bistro_paula_nani" target="_blank"><i class="fa fa-instagram"></i></a>

    </div>

<br><br><br><br>

    <div class="col-xs-12 hidden-xs col-sm-6">
      <div class="contact-form">

        <%= render 'form', contact: @contact %>

          <br><br><br>


     </div>
    </div>
</div>
</div>

<!-- ********* XS ********** -->


<div class="container contact">
<div class="row">
    <div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg">
      <div class="contact-form">

        <%= render 'form', contact: @contact %>

          <br><br><br>
     </div>
    </div>

<br>

    <div class="col-xs-12 col-sm-6 hidden-sm hidden-md hidden-lg">
      <h3>Contactarnos</h3>
      <br><br><br>
      <i class="fa fa-map-marker"></i>
      <p>Casco Viejo
      <br>Avenida A, calle 3ra
      <br>Edificio 2-47
      <br>Panama city - Panama</p>
      <br>
      <i class="fa fa-phone"></i>
      <p>+(507) 209 63-92</p>
      <br>
      <i class="fa fa-envelope"></i>
      <p>bistropaulanani@gmail.com</p>
    <br><br><br><br><br>
      <h3>Seguirnos</h3>
      <br><br><br>
        <a href="http://www.facebook.com/BistroPaulaNani" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/bistro_paula_nani" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>

   </div>
  </div>

</div>

       <br><br><br><br><br><br>
